<button type="submit" class="btn btn-primary" id="showPartialButton">Submit Post</button>

<div id="partialContainer" class="hidden">
    {{> createPostForm}}
</div>



<div class="dark-theme container-lg mx-auto row justify-content-center">
  {{#each post as |post|}}
  <div class="card mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 ">{{ post.userName }}</h6>
      <p class="card-text">{{ post.content }}</p>
      
      <a href="/dashboard/update/:{{post.id}}" class="card-link">Update Comment</a>


      {{!-- <a href="/api/post/delete/{{post.id}}" class="card-link">Delete Comment</a> --}}

      <button type="submit" class="btn btn-primary deleteButton" id="" data-id="{{post.id}}">Delete Comment</button>
      
    </div>
    <div class="scrollable-container">
      {{#each post.comments as |comment|}}
      <div class="card-text mb-2">
        <strong>{{ comment.userName }}</strong>
        <p>{{ comment.comment }}</p>
      </div>
      {{/each}}
    </div>
    <div class="card-footer ">
      {{ format_time post.createdAt }}
      {{ format_date post.createdAt }}
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/showComment.js"></script>
<script src="/js/delete.js"></script>