<div class="dark-theme container-lg mx-auto row justify-content-center">
  <div class="card mb-4" >
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 ">{{ post.userName }}</h6>
      <p class="card-text">{{ post.content }}</p>
      {{!-- add logic so if they are logged in then they will be able to reply --}}
      <button type="submit" class="btn btn-primary" id="showPartialButton">Submit Comment</button>
      
    </div>
    <div class="scrollable-container">
      {{#each post.comments as |comment|}}
      <div class="card-text mb-2">
        <strong>{{ comment.userName }}</strong>
        <p>{{ comment.comment }}</p>
        <p>
          {{ format_time comment.createdAt }}
          {{ format_date comment.createdAt }}
        </p>
      </div>
      {{/each}}
    </div>
    <div class="card-footer">
      {{ format_time post.createdAt }}
      {{ format_date post.createdAt }}
    </div>
  </div>
</div>

<div id="partialContainer" class="hidden">
    {{> comment}}
</div>

<script src="/js/showComment.js"></script>